@import url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
@import url(./assets/fonts/Figtree-VariableFont_wght.ttf);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Figtree', sans-serif;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    
    border: 1px solid black;
    width: 380px;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 8px 8px 0px hsl(0, 0%, 7%);
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 1.5rem;
}
.image img{
    width: 100%;
    border-radius: 0.75rem;
    margin-bottom: 1.25rem;
}
.button button{
    border: none;
    background-color: hsl(47, 88%, 63%);
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
    font-weight: 800;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-bottom: 1rem;
    color: hsl(0, 0%, 7%);
}
.content h5{
    font-size:0.8rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    color: hsl(0, 0%, 7%);
}
.content h1{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: hsl(0, 0%, 7%);
    font-weight: 800;
    cursor: pointer;
}
.content h1:hover{
    color: hsl(47, 88%, 63%);
}
.content p{
    font-size: 16px;
    color: hsl(0, 0%, 42%);
    line-height: 1.5rem;
}
.author{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}
.author img{
    width: 40px;
    border-radius: 50%;
    margin-right: 0.8rem;
}
.author h4{
    font-size: 0.9rem;
    color: hsl(0, 0%, 7%);
    font-weight: 800;
    cursor: pointer;
}
.attribution{ 
    font-size: 11px; 
    text-align: center; 
    margin-top: 1rem; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}

@media(max-width: 400px){
    body{
        padding: 0.8rem;
    }
    .container{
        width: 100%;
        padding: 1.2rem;
        box-shadow: 5px 5px 0px hsl(0, 0%, 7%);
    }

    .content h1{
        font-size: 1.1rem;
    }
    .content p{
        font-size: 0.85rem;
        line-height: 1.3rem;
    }
    .author img{
        width: 28px;
        height: 28px;
    }
    .author h4{
        font-size: 0.85rem;
    }
    
}